/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 5px;
  transition: all 0.3s;
}

/* Mobile Menu Modal */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu-overlay.active {
  display: block;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.mobile-menu .close-menu {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive for Hamburger Menu */
@media (max-width: 768px) {
  .navbar ul {
      display: none;
  }
  .hamburger-menu {
      display: flex;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%; /* Inicialmente oculto */
  width: 80%; /* O el porcentaje deseado */
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.active {
  right: 0; /* Hace que el menú sea visible */
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* Inicialmente oculto */
  z-index: 999;
}

.mobile-menu-overlay.active {
  display: block; /* Muestra el overlay cuando el menú está activo */
}
.navbar ul {
  display: flex; /* Flexbox para disposición en línea */
  flex-direction: row; /* Diseño horizontal */
  list-style: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin márgenes */
  justify-content: space-between; /* Espaciado entre los elementos (opcional) */

}
.mobile-menu ul {
  list-style: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin márgenes */
  display: flex; /* Asegura el uso de Flexbox */
  flex-direction: column; /* Apila los elementos verticalmente */
}

.mobile-menu ul li {
  margin-bottom: 15px; /* Espaciado entre elementos */
  text-align: left; /* Asegura el alineado a la izquierda */
}

.mobile-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block; /* Ocupa todo el ancho disponible */
}
.navbar ul.nav-links {
  display: flex; /* Mantiene la visibilidad por defecto */
}

.navbar.modal-active ul.nav-links {
  display: none; /* Oculta las opciones de navegación cuando el modal está activo */
}
@media (max-width: 768px) {
  .navbar ul.nav-links {
      display: none; /* Oculta las opciones de navegación */
  }

  .hamburger-menu {
      display: flex; /* Muestra el botón de menú hamburguesa */
  }

  .mobile-menu {
      display: none; /* Oculta el menú desplegable por defecto */
  }

  .mobile-menu.active {
      display: flex; /* Muestra el menú desplegable cuando está activo */
      flex-direction: column;
  }
}

@media (min-width: 769px) {
  .hamburger-menu {
      display: none; /* Oculta el menú hamburguesa en pantallas grandes */
  }

  .navbar ul.nav-links {
      display: flex; /* Muestra las opciones de navegación en pantallas grandes */
  }
}
/* Ajustes generales para todas las secciones */
@media screen and (max-width: 768px) {
  /* Certificaciones y Partners */
  .certified-trust .logos img, 
  .partners_img img {
      max-width: 100px;
      max-height: 100px;
      margin: 10px auto;
      display: block;
  }

  /* Carousel de Clientes */
  .clientes-carousel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10px;
      padding: 10px;
      scroll-snap-type: x mandatory;
      scrollbar-width: none; /* Ocultar scrollbar */
      -ms-overflow-style: none; /* IE */
  }
  .clientes-carousel::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
  }
  .clientes-carousel img {
      flex-shrink: 0;
      scroll-snap-align: center;
      width: 120px;
      height: auto;
      object-fit: contain;
  }

  /* Contadores */
  .counter-container {
      flex-direction: column;
      gap: 20px;
      text-align: center;
  }
  .counter-item {
      width: 100%;
      margin-bottom: 15px;
  }
  .counter-value {
      font-size:30px;
  }
}


/* General: Estilización de la sección del equipo */
.team-section {
  display: flex;
  flex-wrap: wrap;
  margin: 10% 0 5%; /* Combina márgenes superior e inferior */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 350px; /* Altura fija para mantener consistencia */
}

.image-container {
  flex: 1; /* Ocupa el 50% del ancho */
  min-height: 100%;
  display: flex; /* Ajusta el contenido */
  justify-content: center;
  align-items: center;
  background: url('../img/landing_cfo.svg') no-repeat center center/cover;
}

.image-container img {
  max-width: 100%; /* Ajusta imagen al contenedor */
  height: auto; /* Mantiene proporción */
}

.text-container {
  flex: 1; /* Ocupa el 50% del ancho */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: url('../img/landing_background.svg') no-repeat center center/cover;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.text-container p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.5;
}

.text-container .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 30%; /* Tamaño fijo para desktop */
  text-align: center;
}

.text-container .btn:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 480px) {
  /* Certificaciones y Partners */
  .certified-trust .logos img, 
  .partners_img img {
      max-width: 80px;
      max-height: 80px;
  }

  /* Carousel de Clientes */
  .clientes-carousel img {
      width: 100px;
  }

  /* Contadores */
  .counter-value {
      font-size: 30px;
  }
}

  
/* Footer */
.footer {
  background-color: #1c1c1c;
  color: #ddd;
  padding: 40px 20px;
  font-size: 13px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex: 1 1 200px;
}

.footer-logo img {
  width: 80%;
  margin-top: 7%;
}

.footer-section {
  flex: 1 1 200px;
  margin-top: 20px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section .social-icons span {
  font-size: 24px;
  margin-right: 10px;
}
.footer-section a{
text-decoration: none;
color:white;
}
/* Responsive */
@media (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar ul li {
      margin: 10px 0;
  }

  .hero-section {
      height: 70vh;
  }

  .text-overlay h1 {
      font-size: 2rem;
  }

  .content-container {
      flex-direction: column;
  }

  .carousel {
      width: 100%;
      height: 250px;
  }

  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}

@media (max-width: 480px) {
  .navbar {
      flex-direction: column;
  }

  .navbar .language {
      margin-top: 10px;
  }

  .text-overlay h1 {
      font-size: 1.8rem;
  }

  .footer-section h3 {
      font-size: 16px;
  }
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  
  position: fixed;
  z-index: 1000;
  width:100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 30px;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  position: relative;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #f3ebf7;
  color: #6a1b9a;
}

.navbar ul li:hover .dropdown-content {
  display: block;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  min-width: 250px;
  z-index: 1100;
}

.dropdown-content::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: white;
}

.dropdown-content a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f3ebf7;
  color: #6a1b9a;
}

/* Language Selector */
.language {
  display: flex;
  align-items: center;
}

.language span {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 700;
}

.language img {
  height: 15px;
}

/* Header */
header {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
  height: 90px;
}

header img {
  height: 45px;
  width: 213px;
}

/* Hero Section de paginas*/
.hero-section, #outsourcing, #contacto, #historiahero, .deliverycenter {
  position: relative;
  width: 100%;
  height: 100vh;
}

#programa_accion,  #outsourcing, #contacto, #historiahero, .deliverycenter {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;

}



.divisor {
  background-image: url('../img/divisor.png');
  margin-top: -350px;
  position: relative;
  width: 100%;
  height: 100vh;

  background-size: cover; /* o 'cover', según cómo quieras que se ajuste */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat;
}

.overlay, .overlay-deliverycenter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite interactuar con el carrusel debajo */
    z-index: 2; /* Asegúrate de que esté detrás del contenido del carrusel */
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 4%;
  color: #333;
  z-index: 2;

}

.text-overlay h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
  margin-top:5px;

}

.text-overlay p {
  font-size: 1rem;
  margin-top: 10px;
}

.text-overlay {
  position: absolute;
  top: 30%; /* Ajusta según necesidad */
  left: 4%;
  color:#1d1d1d;
  ; /* Asegúrate de que el texto sea legible */
  z-index: 2; /* Por encima del overlay */
}


.h1hiring{
  color:white;
}


.content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-top: 5%;
}

.content {
  flex: 1;
  padding: 20px;
  z-index: 3;
}

.content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}

.content p, .content ul li {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*Servicios seccion
.services {
    text-align: center;
    padding: 50px 20px;
  }
  
 
  
  .service-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
  }
  
  .service {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }
  .service:hover{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    cursor:pointer;

  }
  .services h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 70px;

  }
  h3{
    background: linear-gradient(90deg, #4FA949, #6EC7EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }
  .service p {
    font-size: 1em;
    color: #444;
  }
  
  .icon {
    width: 80px;
    height: 80px;
   
    /*background: linear-gradient(90deg, #4FA949, #6EC7EA);*/
    
    .text-overlay{
      width: 40%;
  }

  #historiahero {
    background-image: url('../img/historia.svg');
} 

.contentacordeon {
    flex: 2;
} 

.headeracordeon {
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.headeracordeon h1 {
    font-size: 1.8rem;
    color: #333;
} 
.accordion {
    list-style: none;
    padding: 0;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
} 

.accordion-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
} 

.accordion-content {
    padding: 15px 20px;
    font-size: 1rem;
    line-height: 1.6;
    display: none;
} 

.accordion-content.active {
    display: block;
} 

.containeracordeon {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    height: auto;
} 

.overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
} .carousel-container {
  display: flex;
  max-width: 1200px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  gap: 30px; /* Ajustado para mejor visualización */
  padding-left: 50px; /* Reducido para más espacio en pantallas pequeñas */
}

.carousel-images {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.carousel-slide {
  min-width: 100%;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición mejorada */
}

.carousel-text {
  font-size: 20px; /* Ajustado para más responsividad */
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-weight: normal;
  color: #333;
}

.carousel {
  flex: 1; /* Ajusta flex para que sea responsivo */
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8; /* Fondo claro para contraste */
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajuste de imagen más uniforme */
  position: relative; /* Cambiado para evitar superposición no deseada */
  transition: transform 0.5s ease-in-out;
}

.welcomedc {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center; /* Centrado vertical y horizontal */
  margin-top: 0;
}
